<app-header></app-header>
<!-- nosotros.html -->

<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        
        <h2 class="text-center mt-5 mb-3">Sobre Nosotros</h2>
        <p class="lead text-justify">
          Bienvenido a <strong>BarberPro</strong>, tu destino número uno para productos y servicios de barbería de alta calidad. 
          Nos enorgullece ofrecer una amplia gama de productos, desde máquinas de afeitar profesionales hasta 
          sillas de barbería ajustables.
        </p>
        <p class="lead text-justify">
          En <strong>BarberPro</strong>, nos esforzamos por brindar la mejor experiencia a nuestros clientes. Nuestro talentoso 
          equipo de barberos está dedicado a proporcionar cortes de cabello y afeitados excepcionales, 
          mientras que nuestros productos de alta calidad garantizan resultados profesionales.
        </p>

      </div>
    </div>
  </div>

<app-footer></app-footer>